:root {
    --ancho-tabla: 90vw;
    --ancho-de-columnas: repeat(2, 10vw) 20vw 20vw repeat(3, 10vw);
    --tipografia1: sans-serif;
    --fontSize-texto-generado: 1.2vw;
    --fontSize-nombreColumnas: 1.2vw;
}

body {
    background-color: #eee;
    height: 100%;
}

h1 {
    font-size: 2.5vw; 
    font-family: var(--tipografia1);
}

.logoGE {
    width: 8vw;
}

.logoTecnet {
    width: 8vw;
}

.logoYPF {
    width: 20vw;
}

#contenedor-botones {
    display:flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: space-between;    
    width: var(--ancho-tabla);
}

#contenedor-titulo-logos {
    position: relative;
    display:grid;
    width: var(--ancho-tabla);
    margin: auto;
    grid-auto-rows: minmax(4vw, auto);
    top: 2vw;
}


#fila-titulo-logos {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    font-family: var(--tipografia1);
}

#contenedor-nombreColumnas {
    position: relative;
    display: grid;
    text-align: center;
    font-family: var(--tipografia1);
    grid-template-columns: var(--ancho-de-columnas);
    background-color: #ccf;
    /* grid-template-columns: repeat(2, 1.5fr) 2fr 3fr repeat(3, 1fr); */
}

.nombreColumnas {
    display: grid;
    place-items: center;   
    font-size: var(--fontSize-nombreColumnas);
    font-weight: bold;
    border: 1px solid black;    
}

#contenedor-textoGenerado {
    display: grid;
    grid-template-columns: var(--ancho-de-columnas);
    /* grid-template-columns: repeat(2, 1.5fr) 2fr 3fr repeat(3, 1fr); */
    text-align: center;
}

.textoGenerado {
    display: grid;
    align-items: center;
    font-size: var(--fontSize-texto-generado);
    bottom: 1%;
    font-family: var(--tipografia1);
}

.oculto {
    visibility: hidden;
}

.resultadosContainer {
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 1fr);
    background-color: #ccf;
    width: 25vw;
    height: 12vw;
    left: 4vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.alinearVertical {
    display: grid;
    align-content: center;        
}

.alinearAmbos {
    display: grid;
    place-items: center;
}

.titulo3 {
    font-size: 1.3vw;
    font-weight: bold;
    border: 1px solid black;
}

#buttonContainer {
    position: relative;
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    width: 60vw;
}

.botonReporte {
    background-color: #ccf;
    font-size: 1.3vw;
    height: 4vw;
    width: 12vw;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.graficoContainer {
    display: grid;
    place-items: center;
    
}

.tablaResultados {
    position: relative;
    display:flex;
    flex-flow: column;
    justify-content: space-between;
}

.bar:hover {
    fill: blue;
}

.xAxis, .yAxis {
    font-size: 1vw;
}
